{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mb-xl mt-none">
                {{ product.name }}
                <a href=""></a>
                <a href="{{ path_for('product.edit', {'id': product.product_id }) }}" title="Editar Evento"><small><i class="fa fa-pencil-square-o" aria-hidden="true"></i></small></a>
            </h3>
        </div>
        <div class="col-md-6">
            <section class="panel">
                <form class="form-horizontal form-bordered" method="get">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Añadir asistentes</h2>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                Añadir un asistente
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7">
                                <a href="#0"  class="btn btn-primary" data-toggle="modal" data-target="#new-user"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Inscrito</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                Importar listado
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7">
                                <a href="#0"  class="btn btn-primary" data-toggle="modal" data-target="#import-users"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Importar Usuarios</a>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel">
                <form class="form-horizontal form-bordered" method="get">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title">Inscritos / Asistentes</h2>
                    </header>
                    <div class="panel-body">
                        <span class="stats-title">Inscritos: {{ product.customers().count() }} de {{ product.capacity }}</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ (product.customers().count() * 100) / product.capacity }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (product.customers().count() * 100) / product.capacity }}%">
                                {{ ((product.customers().count() * 100) / product.capacity) | number_format(1) }}%
                            </div>
                        </div>
                        <span class="stats-title">Asistentes Confirmados: {{ product.customers().wherePivot('verified_time', '!=', null).count() }}</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ (product.customers().wherePivot('verified_time', '!=', null).count() * 100) / product.customers().count() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (product.customers().wherePivot('verified_time', '!=', null).count() * 100) / product.customers().count() }}%">
                                {{ ((product.customers().wherePivot('verified_time', '!=', null).count() * 100) / product.customers().count()) | number_format(1) }}%
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-xs-12">
            <!-- start: page -->
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Inscritos</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped customers datatables">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th width="20"></th>
                                <th width="20"></th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in product.customers().get() %}
                                <tr>
                                    <td>{{ customer.first_name }}</td>
                                    <td>{{ customer.last_name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td class="text-center">
                                        {% if customer.pivot.verified_time %}
                                            <span class="sr-only">1</span>
                                            <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                                        {% else %}
                                            <span class="sr-only">0</span>
                                            <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path_for('customer.edit', {'id': customer.customer_id }) }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#0" ic-get-from="{{ path_for('registration.remove', {'customer': customer.customer_id, 'product': product.product_id }) }}" ic-action="fadeOut;remove" ic-target="closest tr">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-xs-12">
            <!-- start: page -->
            <section class="panel">
                <header class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="panel-title">Staff</h2>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="#0"  class="btn btn-primary" data-toggle="modal" data-target="#add-staff"><i class="fa fa-plus" aria-hidden="true"></i> Añadir Usuarios</a>
                        </div>
                    </div>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped datatables">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Tlf</th>
                                {% if product.rooms.count %}
                                    <th>Sala</th>
                                {% endif %}
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th width="20"></th>
                                <th width="20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staff in product.users().get() %}
                                <tr>
                                    <td>{{ staff.first_name }}</td>
                                    <td>{{ staff.last_name }}</td>
                                    <td>{{ staff.phone }}</td>
                                    {% if product.rooms.count %}
                                        <td>{{ product.rooms.find(staff.pivot.room_id).name }}</td>
                                    {% endif %}
                                    <td>{{ staff.pivot.date_start }}</td>
                                    <td>{{ staff.pivot.date_end }}</td>
                                    <td class="text-center">
                                        <a href="/edit/staff/{{ staff.staff_id }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#0">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="new-user" tabindex="-1" role="dialog" aria-labelledby="new-user-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="new-user-label">Añadir Asistente</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-bordered" id="save-registration" method="POST" action="{{ path_for('registration.save', {'id': product.product_id }) }}">
                        <div class="form-group first_name">
                            <label class="col-md-3 col-lg-2 control-label" for="first_name">Nombre</label>
                            <div class="col-md-9 col-lg-10">
                                <input class="form-control" id="first_name" name="first_name" type="text" required>
                            </div>
                        </div>
                        <div class="form-group last_name">
                            <label class="col-md-3 col-lg-2 control-label" for="last_name">Apellidos</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="last_name" name="last_name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group email">
                            <label class="col-md-3 col-lg-2 control-label" for="email">Email</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="email" name="email" class="form-control" type="email" required>
                            </div>
                        </div>
                        {{ csrf.field | raw }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success btn-ajax" data-form="save-registration"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="import-users" tabindex="-1" role="dialog" aria-labelledby="import-users-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="import-users-label">Importar Asistentes</h4>
                </div>
                <form class="form-horizontal form-bordered" id="import-registrations" method="POST" action="{{ path_for('registration.import', {'id': product.product_id }) }}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="csv">Archivo CSV</label>
                            <div class="col-md-9">
                                <input class="form-control" id="csv" name="csv" type="file" required>
                            </div>
                        </div>
                        {{ csrf.field | raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" data-form="import-registrations"><i class="fa fa-floppy-o" aria-hidden="true"></i> Importar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-staff" tabindex="-1" role="dialog" aria-labelledby="add-staff-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add-staff-label">Asignar Staff</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-9">
                            <form class="form-horizontal form-bordered" id="add-staff-form" method="POST" action="{{ path_for('user.add', {'id': product.product_id }) }}">
                                <select multiple data-plugin-selectTwo class="form-control staff" name="staff[]" id="staff">
                                    <option disabled value data-hidden="true">Selecciona uno o más</option>
                                    {% for user in users %}
                                        <option value="{{ user.user_id }}">{{ user.first_name~' '~user.last_name }}</option>
                                    {% endfor %}
                                </select>
                                {{ csrf.field | raw }}
                            </form>
                        </div>
                        <div class="col-md-3">
                            <a href="#"  class="btn btn-primary simple-ajax-modal"><i class="fa fa-plus"></i> Nuevo</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success btn-ajax" data-form="add-staff-form"><i class="fa fa-floppy-o" aria-hidden="true"></i> Asignar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.registrations.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.ajax.js"></script>
{% endblock %}
