{% extends 'layouts/private.twig' %}

{% block content %}
    {% if tasks %}
        <div class="row">
            <div class="col-xs-12">
                <!-- start: page -->
                <section class="panel next-events">
                    <header class="panel-heading">
                        <p><a href="{{ path_for('task.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a></p>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped datatables">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Proyecto</th>
                                    <th>Cierre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr class="gradeX">
                                        <td><a href="{{ path_for('task.edit', {'id': task.task_id }) }}">{{ task.name }}</a></td>
                                        <td><a href="{{ path_for('project.edit', {'id': task.project_id }) }}">{{ task.project.name }}</a></td>
                                        <td>{{ task.due_at }}</td>
                                        <td>
                                            <a href="{{ path_for('task.edit', {'id': task.task_id }) }}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <p>No tiene ningún proyecto pendiente:</p>
                <p><a href="{{ path_for('task.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.events.js"></script>
{% endblock %}
