{% extends 'layouts/private.twig' %}

{% block content %}
    {% if tasks %}
        <div class="row">
            <div class="col-xs-12">
                <!-- start: page -->
                <p>
                    {% if route_name == 'task.inprogress' %}
                        <a href="{{ path_for('task.completed') }}" class="btn btn-info"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Completadas</a>
                        <a href="{{ path_for('task.completed') }}" class="btn btn-info"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Tareas que has asignado</a>
                    {% elseif route_name == 'task.completed' or route_name == 'task.assigned' %}
                        <a href="{{ path_for('task.inprogress') }}" class="btn btn-info"><i class="fa fa-gg-circle" aria-hidden="true"></i> Tareas pendientes</a>
                    {% elseif route_name == 'task.independent' %}
                        <a href="{{ path_for('task.independent.completed') }}" class="btn btn-info"><i class="fa fa-circle-thin" aria-hidden="true"></i> Tareas sin proyecto completadas</a>
                    {% endif %}
                    <a href="{{ path_for('task.inprogress.calendar') }}" class="btn btn-info"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                    <a href="{{ path_for('task.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a>
                </p>
                <table data-toggle="table" data-sort-name="due" data-sort-order="asc" data-search="true" data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-field="name" data-sortable="true">Tarea</th>
                            <th data-field="project" data-sortable="true">Proyecto</th>
                            <th data-field="due" data-sortable="true">Cierre</th>
                            <th data-field="time" data-sortable="true">Tiempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td><a href="{{ path_for('task.show', {'id': task.task_id }) }}">{{ task.name | raw }}</a></td>
                                <td>{{ task.project.name | raw }}</td>
                                <td>{{ task.due_at }}</td>
                                <td>
                                    {{ task.totalTimeTrack|date('H:i:s') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <p>No tiene ningún proyecto pendiente:</p>
                <p><a href="{{ path_for('task.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/assets/javascripts/theme.events.js"></script>
{% endblock %}
