{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
                <form class="form-horizontal" method="POST" action="{{ path_for('task.modify', {'id': task.task_id}) }}" enctype="multipart/form-data">
                    <div class="form-group{{ validation_errors.staff ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="staff">Responsable</label>
                        <div class="col-md-9">
                            <select class="form-control select2" name="staff" id="staff">
                                <option disabled selected value data-hidden="true">Selecciona un responsable</option>
                                {% for user in staff %}
                                    <option value="{{ user.user_id }}"{{ user.user_id == task.staff_id ? ' selected' : '' }}>{{ user.fullName() }}</option>
                                {% endfor %}
                            </select>
                            {% if validation_errors.staff %}
                                <span class="help-block">
                                    {{ validation_errors.staff | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group{{ validation_errors.name ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="name">Nombre<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" id="name" type="text" name="name" value="{{ task.name }}" required>
                            {% if validation_errors.name %}
                                <span class="help-block">
                                    {{ validation_errors.name | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{{ validation_errors.description ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="description">Descripción<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <textarea class="form-control tinymce" rows="3" id="description" name="description" required>{{ task.description }}</textarea>
                            {% if validation_errors.description %}
                                <span class="help-block">
                                    {{ validation_errors.description | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{{ validation_errors.project ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="project">Proyecto<span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <select class="form-control select2" name="project" id="project" required>
                                <option disabled selected value data-hidden="true">Selecciona un proyecto</option>
                                {% for newProject in projects %}
                                    <option value="{{ newProject.project_id }}"{{ newProject.project_id == task.project_id ? ' selected' : '' }}>{{ newProject.name }}</option>
                                {% endfor %}
                            </select>
                            {% if validation_errors.project %}
                                <span class="help-block">
                                    {{ validation_errors.project | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path_for('project.new') }}" class="btn btn-default btn-block">Nuevo <i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Entrega</legend>
                        <div class="form-group{{ validation_errors.due_at ? ' has-error' : '' }}">
                            <label class="col-md-3 control-label">Fecha de entrega<span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" name="due_at" id="due_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" value="{{ task.due_at }}" required>
                                    <span class="input-group-addon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span>
                                </div>
                                {% if validation_errors.due_at %}
                                    <span class="help-block">
                                        {{ validation_errors.due_at | first }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    {% if task.staff_id == auth.user.user_id %}
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{{ path_for('task.delete', { 'id': task.task_id }) }}" class="btn btn-danger btn-lg btn-delete">Borrar</a>
                                {% if task.done_at == null %}
                                    <a href="{{ path_for('task.complete', { 'id': task.task_id }) }}" class="btn btn-warning btn-lg">Completar</a>
                                {% else %}
                                    <a href="{{ path_for('task.reopen', { 'id': task.task_id }) }}" class="btn btn-warning btn-lg">Reabrir</a>
                                {% endif %}
                                <button class="btn btn-success btn-lg pull-right">Guardar</button>
                                {{ csrf.field | raw }}
                            </div>
                        </div>
                    {% endif %}
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <section class="panel next-events">
                <header class="panel-heading">
                    {% if active_timetrack == 0 %}
                        {% if task.staff_id == auth.user.user_id %}
                            <p><a href="{{ path_for('timetrack.start', { 'id': task.task_id }) }}" class="btn btn-primary"><i class="fa fa-play" aria-hidden="true"></i> Iniciar contador</a></p>
                        {% endif %}
                    {% else %}
                        <p><a href="{{ path_for('timetrack.stop') }}" class="btn btn-danger"><i class="fa fa-stop" aria-hidden="true"></i> Detener contador</a></p>
                    {% endif %}
                    <h2>Contador</h2>
                </header>
                <div class="panel-body">
                    <p><strong>Total</strong>: {{ totalTimeTrack|date('H:i:s') }}</p>
                    <table class="table table-striped datatables">
                        <thead>
                            <tr>
                                <th>Día</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for track in task.timetracks %}
                                {% if track.is_completed %}
                                    <tr>
                                        <td>{{ track.created_at|date('d/m') }}</td>
                                        <td>{{ track.created_at|date('H:i:s') }}</td>
                                        <td>{{ track.updated_at|date('H:i:s') }}</td>
                                        <td><strong>{{ track.created_at|timediff(track.updated_at) }}</strong></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ base_url() }}/js/vendor/datetimepicker.es.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".select2").select2();
            $('.datetimepicker').datetimepicker({
                locale: 'es'
            });
        });
        $('.btn-delete').click(function(e) {
            e.preventDefault();
            var button = $(this);
            BootstrapDialog.confirm({
                title: 'Cuidado!!',
                message: '¿Seguro que quieres borrar esta tarea?',
                type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                closable: true, // <-- Default value is false
                draggable: true, // <-- Default value is false
                btnCancelLabel: '¡Mejor No!', // <-- Default value is 'Cancel',
                btnOKLabel: '¡Bórrala!', // <-- Default value is 'OK',
                btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
                callback: function(result) {
                    if (result) {
                        window.location = button.attr('href')
                    }
                }
            });
        });
    </script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% endblock %}
