<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ base_url() }}/css/print-all.css">
    </head>
    <body onload="window.print()">
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="2">
                        <h2>
                            {{ project.project_id }} - {{ project.name | raw }}
                        </h2>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Descripción</strong>
                    </td>
                    <td>
                        {{ project.description | raw }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Entrega</strong>
                    </td>
                    <td>
                        <strong>Inicio</strong>: {{ project.started_at | date('d-m-Y H:i:s', 'Europe/Madrid') }}<br>
                        <strong>Fin</strong>: {{ project.due_at | date('d-m-Y H:i:s', 'Europe/Madrid') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Responsable</strong>
                    </td>
                    <td>
                        {{ project.user.fullName() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Cliente</strong>
                    </td>
                    <td>
                        {{ project.client.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Contacto</strong>
                    </td>
                    <td>
                        {{ project.contact }}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
