{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p><a href="{{ path_for('task.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a></p>
            <table data-toggle="table" data-sort-name="due" data-sort-order="asc" data-search="true">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Nombre</th>
                        <th data-field="project" data-sortable="true">Proyecto</th>
                        <th data-field="due_at" data-sortable="true">Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td><a href="{{ path_for('task.show', {'id': task.task_id }) }}">{{ task.name | raw }}</a></td>
                            <td><a href="{{ path_for('project.show', {'id': task.project_id }) }}">{{ task.project.name | raw }}</a></td>
                            <td class="text-nowrap">{{ task.due_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# <script src="{{ base_url() }}/assets/javascripts/theme.admin.js"></script> #}
{% endblock %}
