{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% if authorization.hasPermission(['project.view']) %}
                <p><a href="{{ path_for('project.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear un proyecto</a></p>
            {% endif %}

            <table data-toggle="table" data-sort-name="due" data-sort-order="asc" data-search="true">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Nombre</th>
                        <th data-field="client" data-sortable="true">Cliente</th>
                        <th data-field="due_at" data-sortable="true">Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td><a href="{{ path_for('project.show', {'id': project.project_id }) }}">{{ project.name | raw }}</a></td>
                            <td>{{ project.client.name }}</td>
                            <td class="text-nowrap">{{ project.due_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# <script src="{{ base_url() }}/assets/javascripts/theme.admin.js"></script> #}
{% endblock %}
