{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Código</strong></p>
                </div>
                <div class="col-md-9">
                    <p>{{ project.project_id }}</p>
                </div>
            </div>
            <form class="form-horizontal" method="POST" action="{{ path_for('project.modify', {'id': project.project_id}) }}" enctype="multipart/form-data">
                <div class="form-group{{ validation_errors.name ? ' has-error' : '' }}">
                    <label class="col-md-3 control-label" for="name">Nombre<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" id="name" type="text" name="name" value="{{ old_input.name ?? project.name | raw }}" required>
                        {% if validation_errors.name %}
                            <span class="help-block">
                                {{ validation_errors.name | first }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{{ validation_errors.color ? ' has-error' : '' }}">
                    <label class="col-md-3 control-label" for="name">Color</label>
                    <div class="col-md-9">
                        <input class="form-control" id="color" type="text" name="color" value="{{ old_input.color ?? project.color }}" required>
                        {% if validation_errors.color %}
                            <span class="help-block">
                                {{ validation_errors.color | first }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{{ validation_errors.tags ? ' has-error' : '' }}">
                    <label class="col-md-3 control-label" for="tags">Etiquetas<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <select class="form-control select2" name="tags[]" id="tags" required multiple>
                            {% for tag in tags %}
                                <option value="{{ tag.tag_id }}"{{ tag.tag_id in project.tags.pluck('tag_id') ? ' selected' : '' }}>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                        {% if validation_errors.tags %}
                            <span class="help-block">
                                {{ validation_errors.tags | first }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{{ validation_errors.short_description ? ' has-error' : '' }}">
                    <label class="col-md-3 control-label" for="short_description">Descripción breve<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" id="short_description" type="text" name="short_description" value="{{ old_input.short_description ?? project.short_description | raw }}" required>
                        {% if validation_errors.short_description %}
                            <span class="help-block">
                                {{ validation_errors.short_description | first }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group{{ validation_errors.description ? ' has-error' : '' }}">
                    <label class="col-md-3 control-label" for="description">Descripción<span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <textarea class="form-control tinymce" rows="3" id="description" name="description">{{ old_input.description ?? project.description }}</textarea>
                        {% if validation_errors.description %}
                            <span class="help-block">
                                {{ validation_errors.description | first }}
                            </span>
                        {% endif %}
                    </div>
                </div>

                <fieldset>
                    <legend>Equipo</legend>
                    <div class="form-group{{ validation_errors.user ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="user">Responsable<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <select class="form-control select2" name="user" id="user" required>
                                <option disabled selected value data-hidden="true">Selecciona un responsable</option>
                                {% for user in staff %}
                                    <option value="{{ user.user_id }}"{{ user.user_id == project.user_id or user.user_id == old_input.user ? ' selected' : '' }}>{{ user.fullName() }}</option>
                                {% endfor %}
                            </select>
                            {% if validation_errors.user %}
                                <span class="help-block">
                                    {{ validation_errors.user | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{{ validation_errors.staff ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="staff">Staff</label>
                        <div class="col-md-9">
                            <select class="form-control select2" name="staff[]" id="staff" multiple>
                                {% for user in staff %}
                                    <option value="{{ user.user_id }}"{{ user.user_id in project.users.pluck('user_id') ? ' selected' : '' }}>{{ user.fullName() }}</option>
                                {% endfor %}
                            </select>
                            {% if validation_errors.staff %}
                                <span class="help-block">
                                    {{ validation_errors.staff | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Cliente</legend>
                    <div class="form-group{{ validation_errors.client ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="client">Cliente<span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <select class="form-control select2" name="client" id="client" required>
                                <option disabled selected value data-hidden="true">Selecciona un cliente</option>
                                {% for client in clients %}
                                    <option value="{{ client.client_id }}"{{ client.client_id == project.client_id or client.client_id == old_input.client ? ' selected' : '' }}>{{ client.name }}</option>
                                {% endfor %}
                            </select>
                            {% if validation_errors.client %}
                                <span class="help-block">
                                    {{ validation_errors.client | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#clientModal">Nuevo <i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="form-group{{ validation_errors.contact ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label" for="contact">Contacto<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" id="contact" type="text" name="contact" value="{{ old_input.contact ?? project.contact }}" required>
                            {% if validation_errors.contact %}
                                <span class="help-block">
                                    {{ validation_errors.contact | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Entrega</legend>
                    <div class="form-group{{ validation_errors.started_at ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label">Fecha de inicio<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" name="started_at" id="started_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" value="{{ old_input.started_at ?? project.started_at }}" required>
                                <span class="input-group-addon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                            </div>
                            {% if validation_errors.started_at %}
                                <span class="help-block">
                                    {{ validation_errors.started_at | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group{{ validation_errors.due_at ? ' has-error' : '' }}">
                        <label class="col-md-3 control-label">Fecha de entrega<span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" name="due_at" id="due_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" value="{{ old_input.due_at ?? project.due_at }}" required>
                                <span class="input-group-addon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span>
                            </div>
                            {% if validation_errors.due_at %}
                                <span class="help-block">
                                    {{ validation_errors.due_at | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

                {% if authorization.hasPermission(['billing.save']) %}
                    <fieldset>
                        <legend>Facturación</legend>
                        <div class="form-group{{ validation_errors.budget ? ' has-error' : '' }}">
                            <label class="col-md-3 control-label" for="budget">Presupuesto</label>
                            <div class="col-md-9">
                                <input class="form-control" id="budget" type="text" name="budget" value="{{ old_input.budget ?? project.budget }}">
                                {% if validation_errors.budget %}
                                    <span class="help-block">
                                        {{ validation_errors.budget | first }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{{ validation_errors.bill ? ' has-error' : '' }}">
                            <label class="col-md-3 control-label" for="bill">Factura</label>
                            <div class="col-md-9">
                                <input class="form-control" id="bill" type="text" name="bill" value="{{ old_input.bill ?? project.bill }}">
                                {% if validation_errors.bill %}
                                    <span class="help-block">
                                        {{ validation_errors.bill | first }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{{ validation_errors.issued_at ? ' has-error' : '' }}">
                            <label class="col-md-3 control-label">Fecha de emisión</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" name="issued_at" id="issued_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" value="{{ old_input.issued_at ?? project.issued_at }}">
                                    <span class="input-group-addon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></span>
                                </div>
                                {% if validation_errors.issued_at %}
                                    <span class="help-block">
                                        {{ validation_errors.issued_at | first }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{{ validation_errors.bill_comment ? ' has-error' : '' }}">
                            <label class="col-md-3 control-label" for="bill_comment">Comentarios</label>
                            <div class="col-md-9">
                                <textarea class="form-control tinymce" rows="3" id="bill_comment" name="bill_comment">{{ old_input.bill_comment ?? project.bill_comment | raw }}</textarea>
                                {% if validation_errors.bill_comment %}
                                    <span class="help-block">
                                        {{ validation_errors.bill_comment | first }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success pull-right">Guardar</button>
                        {{ csrf.field | raw }}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Cliente -->
    <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="clientModalLabel">Nuevo Cliente</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline" id="clientSaveForm">
					{{ csrf.field | raw }}
  					<div class="form-group">
    					<label for="clientInputName">Nombre del cliente</label>
    					<input type="text" class="form-control" id="clientInputName" name="name" placeholder="Expomark" required>
  					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cerrar</button>
				{# <button type="submit" class="btn btn-primary"form="clientSaveForm"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button> #}
				<button type="button" class="btn btn-primary" ic-post-to="{{ path_for('client.save') }}" ic-include="#clientSaveForm" ic-indicator="#indicator"><i class="fa fa-floppy-o" aria-hidden="true"></i> <i class="fa fa-spinner fa-spin" id="indicator" style="display:none"></i> Guardar</button>
			</div>
			</div>
		</div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ base_url() }}/js/vendor/datetimepicker.es.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.4.0/js/bootstrap-colorpicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#color').colorpicker();
            $('.select2').select2();
            $('.datetimepicker').datetimepicker({
                locale: 'es'
            });
        });
        $('.btn-delete').click(function(e) {
            e.preventDefault();
            var button = $(this);
            BootstrapDialog.confirm({
                title: 'Cuidado!!',
                message: '¿Seguro que quieres borrar este proyecto? Se borrarán también todas las tareas asociadas.',
                type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                closable: true, // <-- Default value is false
                draggable: true, // <-- Default value is false
                btnCancelLabel: '¡Mejor No!', // <-- Default value is 'Cancel',
                btnOKLabel: '¡Bórralo!', // <-- Default value is 'OK',
                btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
                callback: function(result) {
                    if (result) {
                        window.location = button.attr('href')
                    }
                }
            });
        });
    </script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% endblock %}
