{% extends 'layouts/private.twig' %}

{% block content %}
    {% if projects %}
        <div class="row">
            <div class="col-xs-12">
                <!-- start: page -->
                {% if authorization.hasPermission(['project.view']) %}
                    <p>
                        {% if route_name == 'project.limbo' %}
                            <a href="{{ path_for('project.limbo.all') }}" class="btn btn-info"><i class="fa fa-globe" aria-hidden="true"></i> Todos</a>
                        {% elseif route_name == 'project.limbo.all' %}
                            <a href="{{ path_for('project.limbo') }}" class="btn btn-info"><i class="fa fa-globe" aria-hidden="true"></i> Mi limbo</a>
                        {% else %}
                            <a href="{{ path_for('project.inprogress.calendar') }}" class="btn btn-info"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                        {% endif %}
                        <a href="{{ path_for('project.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear un proyecto</a>
                    </p>
                {% endif %}
                
                {% include 'partials/projects.twig' %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <p>No tiene ningún proyecto pendiente:</p>
                <p><a href="{{ path_for('project.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear un evento</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/assets/javascripts/theme.events.js"></script>
    <script>
        $(document).ready(function() {
            $("[data-toggle=popover]").popover({
                html: true
            });
        });
    </script>
{% endblock %}
