{% extends 'layouts/private.twig' %}

{% block content %}
    {% if projects %}
        <div class="row">
            <div class="col-xs-12">
                <!-- start: page -->
                <section class="panel next-events">
                    <header class="panel-heading">
                        <p><a href="{{ path_for('project.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear un proyecto</a></p>
                    </header>
                    <div class="panel-body">
                        <table data-toggle="table" data-sort-name="due" data-sort-order="asc" data-search="true" data-show-columns="true">
                            <thead>
                                <tr>
                                    <th data-field="id" data-sortable="true">Cód.</th>
                                    <th data-field="client" data-sortable="true">Cliente</th>
                                    <th data-field="name" data-sortable="true">Nombre</th>
                                    <th data-field="staff" data-sortable="true">Responsable</th>
                                    <th data-field="due" data-sortable="true">Cierre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr class="{{ project.user_id != auth.user.user_id ? 'assigned' : '' }}">
                                        <td class="text-center">{{ project.project_id }}</td>
                                        <td>{{ project.client.name }}</td>
                                        <td><a href="{{ path_for('project.show', {'id': project.project_id }) }}">{{ project.name | raw }}</a></td>
                                        <td>{{ project.user.fullname() }}</td>
                                        <td class="text-nowrap">{{ project.due_at }}</td>
                                        <td class="text-nowrap text-center">
                                            {% if project.is_printed == 0 %}
                                                <a href="{{ path_for('project.print', {'id': project.project_id }) }}" target="_blank" class="text-warning">
                                                    <i class="fa fa-print" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                            {% if project.user_id != auth.user.user_id %}
                                                <abbr title="El encargado es {{ project.user.fullname() }}">
                                                    <i class="fa fa-info-circle text-info" aria-hidden="true"></i>
                                                </abbr>
                                            {% endif %}
                                            {% if project.due_at < "now" | date_modify("-1 week") | date("Y-m-d H:i:s") %}
                                                <abbr title="¡Proyecto caducado!">
                                                    <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                                                </abbr>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <p>No tiene ningún proyecto pendiente:</p>
                <p><a href="{{ path_for('project.new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear un evento</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-tabletools/2.1.5/js/TableTools.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.events.js"></script>
{% endblock %}
