{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% if authorization.hasPermission(['project.view']) %}
                <div class="row">
                    <div class="col-xs-12">
                        {% if project.done_at == null %}
                            <a href="{{ path_for('project.complete', { 'id': project.project_id }) }}" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Completar
                            </a>
                        {% else %}
                            <a href="{{ path_for('project.reopen', { 'id': project.project_id }) }}" class="btn btn-warning">
                                <i class="fa fa-square-o" aria-hidden="true"></i> Reabrir
                            </a>
                        {% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print" aria-hidden="true"></i> Imprimir <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path_for('project.print.tag', { 'id': project.project_id }) }}" target="_blank">
                                         Etiqueta
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path_for('project.print', { 'id': project.project_id }) }}" target="_blank">
                                        Completo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        /
                        {% if project.is_active %}
                            <a href="{{ path_for('project.toggle', { 'id': project.project_id }) }}" class="btn btn-warning">
                                <i class="fa fa-steam-square" aria-hidden="true"></i> Limbo
                            </a>
                        {% else %}
                            <a href="{{ path_for('project.toggle', { 'id': project.project_id }) }}" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Resucitar
                            </a>
                        {% endif %}
                        <a href="{{ path_for('project.delete', { 'id': project.project_id }) }}" class="btn btn-danger btn-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i> Borrar
                        </a>

                        <a href="{{ path_for('project.edit', { 'id': project.project_id }) }}" class="btn btn-primary pull-right">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                        </a>
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="row">
                <div class="col-xs-12">
                    <h2>
                        {{ project.name | raw }}<br>
                        <small>
                            {% for tag in project.tags %}
                                {% if authorization.hasPermission(['project.view']) %}
                                    <a href="{{ path_for('project.tag', { 'id': tag.tag_id }) }}" class="label label-default">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}

                                {{ tag.name }}

                                {% if authorization.hasPermission(['project.view']) %}
                                    </a>
                                {% else %}
                                    </span>
                                {% endif %}
                                &nbsp;
                            {% endfor %}
                        </small>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Código</strong></p>
                </div>
                <div class="col-md-9">
                    <p>{{ project.project_id }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Descripción breve</strong></p>
                </div>
                <div class="col-md-9">
                    <p>{{ project.short_description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Descripción</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.description | raw }}
                </div>
            </div>
            <h5>Equipo</h5>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Responsable</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.user.fullName() }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Asignados</strong></p>
                </div>
                <div class="col-md-9">
                    {% for user in project.users %}
                        {{ user.fullName() }}<br>
                    {% endfor %}
                </div>
            </div>
            <h5>Cliente</h5>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Cliente</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.client.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Contacto</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.contact }}
                </div>
            </div>
            <h5>Entrega</h5>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Fecha de inicio</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.started_at | date('d-m-Y H:i:s', 'Europe/Madrid') }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-right"><strong>Fecha de entrega</strong></p>
                </div>
                <div class="col-md-9">
                    {{ project.due_at | date('d-m-Y H:i:s', 'Europe/Madrid') }}
                </div>
            </div>
            {% if authorization.hasPermission(['project.view']) %}
                <h5>Facturación</h5>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right"><strong>Factura</strong></p>
                    </div>
                    <div class="col-md-9">
                        {{ project.bill }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right"><strong>Fecha de emisión</strong></p>
                    </div>
                    <div class="col-md-9">
                        {{ project.issued_at | date('d-m-Y H:i:s', 'Europe/Madrid') }}
                    </div>
                </div>
            {% endif %}
            {% if authorization.hasPermission(['project.view']) %}
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        {% if project.done_at == null %}
                            <a href="{{ path_for('project.complete', { 'id': project.project_id }) }}" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Completar
                            </a>
                        {% else %}
                            <a href="{{ path_for('project.reopen', { 'id': project.project_id }) }}" class="btn btn-warning">
                                <i class="fa fa-square-o" aria-hidden="true"></i> Reabrir
                            </a>
                        {% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print" aria-hidden="true"></i> Imprimir <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path_for('project.print.tag', { 'id': project.project_id }) }}" target="_blank">
                                         Etiqueta
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path_for('project.print', { 'id': project.project_id }) }}" target="_blank">
                                        Completo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        /
                        {% if project.is_active %}
                            <a href="{{ path_for('project.toggle', { 'id': project.project_id }) }}" class="btn btn-warning">
                                <i class="fa fa-steam-square" aria-hidden="true"></i> Limbo
                            </a>
                        {% else %}
                            <a href="{{ path_for('project.toggle', { 'id': project.project_id }) }}" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i> Resucitar
                            </a>
                        {% endif %}
                        <a href="{{ path_for('project.delete', { 'id': project.project_id }) }}" class="btn btn-danger btn-delete">
                            <i class="fa fa-trash" aria-hidden="true"></i> Borrar
                        </a>

                        <a href="{{ path_for('project.edit', { 'id': project.project_id }) }}" class="btn btn-primary pull-right">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            {% if authorization.hasPermission(['project.view']) %}
                <p><a href="{{ path_for('task.new', { 'id': project.project_id }) }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Crear una tarea</a></p>
            {% endif %}

            <h3>Tareas pendientes</h3>

            <p><strong>Total</strong>: {{ project.inProgressTasksTime }}</p>

            <table data-toggle="table" data-sort-name="due" data-sort-order="asc" data-search="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="code" data-sortable="true">Código</th>
                        <th data-field="name" data-sortable="true">Nombre</th>
                        <th data-field="user" data-sortable="true">Encargado</th>
                        <th data-field="due" data-sortable="true">Cierre</th>
                        <th data-field="time" data-sortable="true">Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in inProgressTasks %}
                        <tr>
                            <td>{{ project.project_id }}-{{ task.task_id }}</td>
                            <td>
                                <a href="{{ path_for('task.show', {'id': task.task_id }) }}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.staff.fullName() }}</td>
                            <td>{{ task.due_at }}</td>
                            <td>
                                {{ task.totalTimeTrack|date('H:i:s') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h3>Tareas completadas</h3>
            <p><strong>Total</strong>: {{ project.completedTasksTime }}</p>
            <table data-toggle="table" data-sort-name="time" data-sort-order="desc" data-search="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="code" data-sortable="true">Código</th>
                        <th data-field="name" data-sortable="true">Nombre</th>
                        <th data-field="user" data-sortable="true">Encargado</th>
                        <th data-field="due" data-sortable="true">Cierre</th>
                        <th data-field="time" data-sortable="true">Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in completedTasks %}
                        <tr>
                            <td>{{ project.project_id }}-{{ task.task_id }}</td>
                            <td>
                                <a href="{{ path_for('task.show', {'id': task.task_id }) }}">{{ task.name }}</a>
                            </td>
                            <td>{{ task.staff.fullName() }}</td>
                            <td>{{ task.due_at }}</td>
                            <td>
                                {{ task.totalTimeTrack|date('H:i:s') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if authorization.hasPermission(['project.view']) %}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{{ path_for('comment.project.save', { 'id': project.project_id }) }}" class="form" method="post">
                            <div class="form-group">
                                <textarea name="description" class="tinymce form-control" placeholder="Añade un comentario"></textarea>
                            </div>
                            <button name="Submit" type="submit" class="btn btn-info btn-comment"><i class="fa fa-commenting" aria-hidden="true"></i> Comentar</button>
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">Comentarios</h4>
                            </div>
                            <div class="panel-collapse">
                                {% for comment in project.comments().orderBy('created_at', 'DESC').get() %}
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ comment.user().first().fullName() }} <small class="text-info">{{ comment.created_at.formatLocalized('%d de %B de %Y - %H:%M') }}</small></h4>
                                                {{ comment.description | raw }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ base_url() }}/js/vendor/datetimepicker.es.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".select2").select2();
            $('.datetimepicker').datetimepicker({
                locale: 'es'
            });
        });
        $('.btn-delete').click(function(e) {
            e.preventDefault();
            var button = $(this);
            BootstrapDialog.confirm({
                title: 'Cuidado!!',
                message: '¿Seguro que quieres borrar este proyecto? Se borrarán también todas las tareas asociadas.',
                type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                closable: true, // <-- Default value is false
                draggable: true, // <-- Default value is false
                btnCancelLabel: '¡Mejor No!', // <-- Default value is 'Cancel',
                btnOKLabel: '¡Bórralo!', // <-- Default value is 'OK',
                btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
                callback: function(result) {
                    if (result) {
                        window.location = button.attr('href')
                    }
                }
            });
        });
    </script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
{% endblock %}
