{% extends 'layouts/private.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <section class="panel">
                <form class="form-horizontal" id="save-registration" method="POST" action="{{ path_for('user.modify', {'id': user.user_id }) }}">
                    <header class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Staff</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group first_name">
                            <label class="col-md-3 col-lg-2 control-label" for="first_name">Nombre</label>
                            <div class="col-md-9 col-lg-10">
                                <input class="form-control" id="first_name" name="first_name" type="text" value="{{ user.first_name }}" required>
                            </div>
                            {% if validation_errors.first_name %}
                                <span class="help-block">
                                    {{ validation_errors.first_name | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group last_name">
                            <label class="col-md-3 col-lg-2 control-label" for="last_name">Apellidos</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="last_name" name="last_name" class="form-control" type="text" value="{{ user.last_name }}" required>
                            </div>
                            {% if validation_errors.last_name %}
                                <span class="help-block">
                                    {{ validation_errors.last_name | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group email">
                            <label class="col-md-3 col-lg-2 control-label" for="email">Email</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="email" name="email" class="form-control" type="email" value="{{ user.email }}" required>
                            </div>
                            {% if validation_errors.email %}
                                <span class="help-block">
                                    {{ validation_errors.email | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group phone">
                            <label class="col-md-3 col-lg-2 control-label" for="email">Teléfono</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="phone" name="phone" class="form-control" type="phone" value="{{ user.phone }}" required>
                            </div>
                            {% if validation_errors.phone %}
                                <span class="help-block">
                                    {{ validation_errors.phone | first }}
                                </span>
                            {% endif %}
                        </div>
                        {# <hr>
                        <div class="form-group password">
                            <label class="col-md-3 col-lg-2 control-label" for="email">Contraseña</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="password" name="password" class="form-control" type="password">
                            </div>
                            {% if validation_errors.password %}
                                <span class="help-block">
                                    {{ validation_errors.password | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group confirm_password">
                            <label class="col-md-3 col-lg-2 control-label" for="email">Confirmar Contraseña</label>
                            <div class="col-md-9 col-lg-10">
                                <input id="confirm_password" name="confirm_password" class="form-control" type="password">
                            </div>
                            {% if validation_errors.confirm_password %}
                                <span class="help-block">
                                    {{ validation_errors.confirm_password | first }}
                                </span>
                            {% endif %}
                        </div> #}
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-success pull-right">Guardar</button>
                                {{ csrf.field | raw }}
                            </div>
                        </div>
                    </footer>
                </form>
            </section>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.registrations.js"></script>
    <script src="{{ base_url() }}/assets/javascripts/theme.ajax.js"></script>
{% endblock %}
